#banner {
  display: block;
  height: 800px;
  width: 100%;

  background-size: cover;
  background-image: url("C:/Users/Jojo/.ssh/du-den-virt-fsf-pt-08-2021-u-c/02-Advanced-CSS/02-Homework/Assets/photo.jpg");

  background-position: center;
}
li {
  color: black;
}
header {
  float: left;
  background-color: gray;
  align-items: center;
  width: 100%;
  padding: 30px, 30px;
  opacity: 0.6;

  list-style: none;
}

nav {
  float: right;
  margin-right: 4%;
  top: 100%;
}
a {
  text-decoration: none;
}
.nav_items {
  list-style: none;
  color: black !important;
  font-size: 30px;
}
.nav_items li {
  display: inline-block;
  color: black;
  justify-content: space-between;
  color: black !important;

  margin: 0;
}
.nav_items li a:hover {
  color: crimson;
}
.h1_name {
  float: left;

  color: black;
  cursor: pointer;
}
#code {
  order: 1;
  font-weight: bolder;
  font-size: 8vw;
  font-family: "Hina Mincho", serif;
  color: #404040;
}
.move {
  display: flex;
  display: block;
  float: right;
  align-self: center;
  margin-top: 15vw;
  padding-right: 8vw;
}

.under_code {
  float: right;
  padding-top: 6%;

  width: 300px;
  height: 50px;
  color: #989898;
}

.about_me {
  text-align: center;
  font-size: 4vh;
  background-color: cadetblue;
  color: cornsilk;
}
.ul_alien {
  display: inline-flex;
  list-style: none;
  justify-content: right;
}
.work {
}
.work ul {
  flex-direction: column;
  flex-wrap: wrap;
}
.work li {
  flex-direction: column;
  flex-wrap: wrap;
}
.android {
  font-size: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;

  text-align: center;
}
