.root {
}
#banner {
  display: block;
  height: 800px;
  width: 100%;

  background-size: cover;
  background-image: url("C:/Users/Jojo/.ssh/du-den-virt-fsf-pt-08-2021-u-c/02-Advanced-CSS/02-Homework/Assets/photo.jpg");

  background-position: center;
}
li {
  color: black;
}
header {
  float: left;
  background-color: gray;
  align-items: center;
  width: 100%;
  padding: 30px, 30px;
  opacity: 0.6;
  height: 56px;

  list-style: none;
}

nav {
  float: right;
  margin-right: 4%;
  top: 100%;
}
a {
  text-decoration: none;
}
.nav_items {
  list-style: none;
  color: black !important;
  font-size: 30px;
}
.nav_items li {
  display: inline-block;
  color: black;
  justify-content: space-between;
  color: black !important;

  margin: 0;
}
.nav_items li a:hover {
  color: crimson;
}
.h1_name {
  float: left;

  color: black;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 20px;
}
#code {
  order: 1;
  font-weight: bolder;
  font-size: 8vw;
  font-family: "Hina Mincho", serif;
  color: #404040;
}
.move {
  display: flex;
  display: block;
  float: right;
  align-self: center;
  margin-top: 15vw;
  padding-right: 8vw;
}

.under_code {
  float: right;
  padding-top: 6%;

  width: 300px;
  height: 50px;
  color: #989898;
}

.about_me {
  text-align: center;
  font-size: 4vh;
  background-color: cadetblue;
  color: cornsilk;
}
.ul_alien {
  display: inline-flex;
  list-style: none;
  justify-content: right;
}
.work {
  align-items: center;
  align-self: center;
  justify-content: center;
}

.work_div {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex: 1 1 100%;
  flex-basis: 33%;
  justify-content: center;
  padding: 5%;
  text-align: center;
}

.android {
  /* font-size: 100px; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px; */
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  font-size: large;
}
.andorid_h2 {
  font-size: 72px;
}

.img_work {
  padding: 4%;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img_hovering:hover {
  opacity: 0.2;
  background-color: pink;
  background-size: 150%;
  background-size: cover;
  top: -0.25rem;
  content: attr(data-arr);
}

.work_div p {
  color: blue;
}

.img_hovering {
  background-image: url("C:/Users/Jojo/.ssh/homeworks/Homework-2/Portfolio/Assets/img/port.jpg");
  padding: 4%;
  height: 20vw;
  width: 20vw;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  box-shadow: 0 4px 20px 0 rgba(0.5, 0, 0, 0.5);
  transition: 0.3s;
  border-radius: 10px;

  /* position: absolute;
  content: "attr(data-tooltip)";
  color: black;
  font-size: 110px;
  top: -0.25rem;
  height: 25px;
  width: 25px;
  background-color: blue; */
}
.data_text {
  opacity: 0;
}
.img_hovering:hover .data_text {
  opacity: 1;
  z-index: 10;
}
/* .data_text:hover {
  opacity: 1;
} */
